<script src="https://giscus.app/client.js"
        data-repo="Rakesh-Raushan/rraushan-blog"
        data-repo-id="R_kgDORsA2iA"
        data-category="Announcements"
        data-category-id="DIC_kwDORsA2iM4C48Nn"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>